extends layout

block content
  h1= title
  p Welcome to #{title}
  p= `${card[1].id}`
  p= `${card[0].card_id}`
  p= `${card[0].side1}`
  p= `${card[0].id}`
  p= `${card[0].id}`
  br
  form(method='post' action='/markcorrect')
    button(value='submit') mark correct
  br
  form(method='post' action='/markincorrect')
    button(value='submit') mark incorrect
  br
  form(method='get' action='/study')
    button(value='submit') next card
    br
  form(method='post' action='/changestack')
    input(type='text' name='changestack' placeholder='stack #')
    button(value='submit') change stack
